<linearGradient id="gradient_ts" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t"/>
    <stop offset="51%" class="phon_s"/>
</linearGradient>
<linearGradient id="gradient_t_hs" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t_h"/>
    <stop offset="51%" class="phon_s"/>
</linearGradient>
<linearGradient id="gradient_ts_slash" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t"/>
    <stop offset="51%" class="phon_s_slash"/>
</linearGradient>
<linearGradient id="gradient_t_hs_slash" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t_h"/>
    <stop offset="51%" class="phon_s_slash"/>
</linearGradient>
<linearGradient id="gradient_ts_retr" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t"/>
    <stop offset="51%" class="phon_s_retr"/>
</linearGradient>
<linearGradient id="gradient_t_hs_retr" x1="0" x2="1" y1="0" y2="0">
    <stop offset="50%" class="phon_t_h"/>
    <stop offset="51%" class="phon_s_retr"/>
</linearGradient>